body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: rgb(9, 0, 17);
    color: white;
}
@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
section{
    position: relative;
    background: rgb(29, 29, 53);
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}
.logo{
    background:rgb(42, 42, 65);
    border-radius: 50%;
    border: none;
    color: rgb(219, 113, 13);
    font-size: 15px;
    padding: 10px;
}
h2{
    text-transform: capitalize;
}
p{
    width:350px;
    font-size: 15px;
    color:rgb(159, 159, 189) ;
}
.btn{
    background:rgb(42, 42, 65);
    border-radius: 50%;
    border: none;
    color: whitesmoke;
    padding: 15px;
    font-size: 11px;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
.btn:hover{
    background: rgb(219, 113, 13);
    color: white;
}
.active{
    background:grey;
    color: white;
}
.btn-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 18px;
}
.submit-btn{
    background: rgb(219, 113, 13);
    color: white;
    border: none;
    width: 97%;
    border-radius: 20px;
    text-transform: uppercase;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
.submit-btn:hover{
    background: white;
    color: rgb(219, 113, 13);
    font-weight: bold;
}
.overlay-content{
    text-align: center;
}
.rate-btn{
    margin: 10px;
    background: rgb(42, 42, 65);
    color: rgb(219, 113, 13);
    padding: 10px;
    text-transform: capitalize;
    border: none;
    border-radius: 15px;
}
.close-btn{
    position:absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 30px;
    color:rgb(219, 113, 13) ;
    border: none;
    background: transparent;
    cursor: pointer;
    animation: bounce 1s ease-in-out infinite;
}
.thankyou-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    visibility:hidden;
    z-index:-10;
}
.show-overlay{
    visibility:visible;
    z-index:10;
}

